.play-list-table {
  position: relative;
}
.play-list-table-column {
  position: relative;
}
.play-list-table-column::before {
  content: "";
  background: #00092e;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.play-list-table-column-item {
  position: relative;
}
