@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Sony Sketch EF;
    src: font-url("./assets/fonts/Sony_Sketch_EF.ttf") format("truetype");
  }
}

.text-blur-6 {
  text-shadow: 0px 0px 6px;
}
.text-blur-10 {
  text-shadow: 0px 0px 10px;
}
.text-blur-22 {
  text-shadow: 0px 0px 22px;
}

.card-border-outer {
  border-width: 2rem;
  border-image: url("./assets/images/dog-card-border-frame.png") 50% 50% / 100%
    100%;
}

.pagination-box {
  clip-path: polygon(3% 0, 97% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
}
.inpage-header-box {
  clip-path: polygon(0 1%, 100% 1%, 100% 50%, 97% 100%, 3% 100%, 0 50%);
}
.corner-clipped-box {
  position: relative;
}
.corner-clipped-box::before {
  content: "";
  /* clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  background-color: #2feef6; */
  background: url("./assets/images/corner-clipped-box.png ") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.side-shaped-box {
  position: relative;
}
.side-shaped-box::before {
  content: "";
  /* clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  background-color: #2feef6; */
  background: url("./assets/images/side-shaped-box.png ") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.play-list-table {
  position: relative;
}
.play-list-table-column {
  position: relative;
}
.play-list-table-column::before {
  content: "";
  background: #00092e;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.play-list-table-column-item {
  position: relative;
}

.card-image-box-outside {
  position: relative;
  width: 396px;
  height: 268px;
  background: #7bebf4;
  -webkit-clip-path: polygon(
    15% 0,
    40% 0,
    44% 5%,
    100% 5%,
    100% 100%,
    53% 100%,
    0 100%,
    0 58%,
    0 5%,
    10% 5%
  );
  clip-path: polygon(
    15% 0,
    40% 0,
    44% 5%,
    100% 5%,
    100% 100%,
    53% 100%,
    0 100%,
    0 58%,
    0 5%,
    10% 5%
  );
}

.card-image-box-inside {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  -webkit-clip-path: polygon(
    15% 0,
    40% 0,
    44% 5%,
    100% 5%,
    100% 100%,
    53% 100%,
    0 100%,
    0 58%,
    0 5%,
    10% 5%
  );
  clip-path: polygon(
    15% 0,
    40% 0,
    44% 5%,
    100% 5%,
    100% 100%,
    53% 100%,
    0 100%,
    0 58%,
    0 5%,
    10% 5%
  );
}

.card-image {
  position: relative;
}
.card-image::before {
  content: "";
  background: url("./assets/images/corner-clipped-box.png ") no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  z-index: 2;
  -webkit-clip-path: polygon(
    15% 0,
    40% 0,
    44% 5%,
    100% 5%,
    100% 100%,
    53% 100%,
    0 100%,
    0 58%,
    0 5%,
    10% 5%
  );
  clip-path: polygon(
    15% 0,
    40% 0,
    44% 5%,
    100% 5%,
    100% 100%,
    53% 100%,
    0 100%,
    0 58%,
    0 5%,
    10% 5%
  );
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
