@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Sony Sketch EF;
    src: font-url("./assets/fonts/Sony_Sketch_EF.ttf") format("truetype");
  }
}

.card-border-outer {
  border-width: 1rem;
  border-image: url("./assets/images/dog-card-border-frame.png") 50% 50% / 100%
    100%;
}

/* .card-border-outer {
  border-bottom: 3px solid #7bebf4;
  padding: 0.3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.card-border-inner-1 {
  border: 1px solid #7bebf4;
  padding: 0.1rem;
}
.card-border-inner-2 {
  border: 1px solid #7bebf4;
  padding: 1rem;
} */
.pagination-box {
  clip-path: polygon(3% 0, 97% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
}
.inpage-header-box {
  clip-path: polygon(0 1%, 100% 1%, 100% 50%, 97% 100%, 3% 100%, 0 50%);
}
.table-box {
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
}
