@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Sony Sketch EF;
    src: font-url("./assets/fonts/Sony_Sketch_EF.ttf") format("truetype");
  }
}

.text-blur-6 {
  text-shadow: 0px 0px 6px;
}
.text-blur-10 {
  text-shadow: 0px 0px 10px;
}
.text-blur-22 {
  text-shadow: 0px 0px 22px;
}

.card-border-outer {
  border-width: 2rem;
  border-image: url("./assets/images/dog-card-border-frame.png") 50% 50% / 100%
    100%;
}

.pagination-box {
  clip-path: polygon(3% 0, 97% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
}
.inpage-header-box {
  clip-path: polygon(0 1%, 100% 1%, 100% 50%, 97% 100%, 3% 100%, 0 50%);
}
.corner-clipped-box {
  position: relative;
}
.corner-clipped-box::after {
  content: "";
  /* clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  background-color: #2feef6; */
  background: url("./assets/images/corner-clipped-box-bg.png ") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.new-div {
  background-color: #2feef6;
}
.side-shaped-box {
  position: relative;
  z-index: 1;
}
.side-shaped-box::after {
  content: "";
  /* clip-path: polygon(
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0 95%,
    0 5%
  );
  background-color: #2feef6; */
  background: url("./assets/images/side-shaped-box-bg.png ") no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.play-list-table {
  position: relative;
  z-index: 1;
}
.play-list-table-column {
  position: relative;
}
.play-list-table-column::after {
  content: "";
  background: #00092e;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.play-list-table-column-item {
  position: relative;
  z-index: 1;
}

.card-image-box {
  clip-path: polygon(
    15% 0,
    40% 0,
    44% 4%,
    100% 4%,
    100% 100%,
    53% 100%,
    0 100%,
    0 58%,
    0 4%,
    10% 4%
  );
  border: 2px solid #7bebf4;
  border-radius: 1rem;
  position: relative;
}
